.bg-test {
  background-color: lightsalmon;
}
.hight-text-area {
  height: 80px;
  overflow-y: scroll;
}
.btn-noteit {
  position: relative;
  left: 45%;
}
.hight-text-area::-webkit-scrollbar {
  width: 0.5em;
}

.hight-text-area::-webkit-scrollbar-thumb {
  background-color: transparent;
}
